.image{
	width:250px;
	height:250px;
  margin-left:550px;
  margin-top: -230px;
	border-radius:100%;
}



/*
.container-fluid {
   clip-path: polygon(100% 0, 100% 85%, 85% 100%, 16% 100%, 0 85%, 0 0);
}*/


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

a:hover {
  background-color: lightgray;
  border-radius: 20px;
  
}


.intro{
  color: #0F3B5F;
  width:450px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.homeIntro{
  width: 550px;
  height: 80px;
  color: #0F3B5F;
  font-family: cursive
}

.homeResIntro{
  width: 810px;
  color: #0F3B5F;
  font-family: cursive
}


.workExperience{
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.setWorkExperience{
  width: 400px;
  color: #0F3B5F;
  cursor: pointer;
  font-family: cursive
}
.expImage{
  margin-left: 450px;
  margin-top: -450px;
}

.skills{
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.skillsIntro{
  width: 800px;
  color: #0F3B5F;
  cursor: pointer;
  font-family: cursive
}

.skillsImage{
  margin-left: 300px;
  margin-top: -300px;
}


.diaplay-5{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.education{
  margin-top: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.educationIntro{
  width: 800px;
  color: #0F3B5F;
  font-family: cursive
}
  .h1{
      margin-left:0px;
      
  }
  button.a{
      box-shadow: 0 20px 50px rgba(0,0,0,.5);
          background-color: #0F3B5F;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      margin-top:20px;
      margin-left:0px;
      border-radius:20px;
      cursor: pointer;
      width: 100%;
    }
button.a:hover {
      opacity: 0.8;
}


button.b{
  background-color: #0F3B5F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  margin-top:20px;
  margin-left:-50px;
  border-radius:20px;
  cursor: pointer;
  width: 300px;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
button.b:hover {
  opacity: 0.8;
}


button.c{
  background-color: #0F3B5F;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  margin-left:-50px;
  border-radius:20px;
  cursor: pointer;
  width: 200px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button.c:hover {
  opacity: 0.8;
  background-color: red;
  color: black;
  font-family: cursive;
}
.psw{
  margin-left:-40px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width:100%; 
  height: 100%;
    overflow: auto; 
  background-color: rgb(0,0,0);   
  background-color: rgba(0,0,0,0.6); 
  padding-top: 60px;
}
.modal-content {
  background:lightgray;
  /* background-color: white;
  border: 1px solid #888;
  */width:1100px;
  height:500px;
  margin-top:0px;
  border:0px solid #0F3B5F;
  border-radius: 10px;;
  }
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}




/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Extra styles for the cancel button */
/*.cancelbtn {
  width: auto;
  padding: 20px 25px;
  background-color: #f44336;
}*/









.container {
   /*border:2px solid red;*/
   width:1000px;
margin-top:10px;
  }
.container1{
  width:1100px;
  height:100px;
  background:rgba(177, 175, 187, 0.682);
  border-radius: 0px 0px 10px 10px;
  margin-top:51px;
  margin-left:0px; 
  }


/*
  .jumbotron {
    background: #358CCE;
    color: #FFF;
    border-radius: 0px;
    }

    .jumbotron-sm { 
      padding-top: 24px;
    padding-bottom: 24px; 
    }
  .jumbotron small {
    color: #FFF;
  }
  .h1 small {
    font-size: 24px;
    }
*/

.h1  {
  font-size: 40px;
  height: 50px;
  margin-top: 10px;
  color: #0F3B5F;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}




.footer{
  background: white;   /* #152F4F;*/
  color: black
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
