@charset "ISO-8859-1";
.container{
    height:600px;
}



.container-fluid {
  /* clip-path: polygon(100% 0, 100% 85%, 85% 100%, 16% 100%, 0 85%, 0 0);*/
}


.image{
	width:250px;
	height:250px;
  margin-left:920px;
	margin-top:-1020px;
	border-radius:100%;
}




body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

a:hover {
  background-color: lightgray;
  border-radius: 20px;
}

.intro{
  width: 800px;
  height: 80px;
}

.footer{
  background: white;   /* #152F4F;*/
  color:#152F4F;
  
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
